    <!-- Footer -->
    <footer class="footer">
        <!-- Nav One -->
        <nav class="footer__nav">
            <h1 class="footer__header">Quick Links</h1>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__links" href="https://www.linkedin.com/in/brian-hyun/" target="_blank">LinkedIn</a>
                </li>
                <li class="footer__item">
                    <a class="footer__links" href="https://github.com/brianhyun" target="_blank">GitHub</a>
                </li>
                <li class="footer__item">
                    <a class="footer__links" href="#resume" target="_blank">Resume</a>
                </li>
            </ul>
        </nav>

        <!-- Nav Two -->
        <nav class="footer__nav">
            <h1 class="footer__header">Quick Connect</h1>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__links" href="mailto:hyunbrian97@gmail.com">hyunbrian97@gmail.com</a>
                </li>
            </ul>
        </nav>

        <!-- Copyright -->
        <p class="footer__copyright">
            Copyright Brian Hyun ©2020. All rights reserved.
        </p>
    </footer>

    <!-- Scripts -->
    <script src="js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>