    <!-- Footer -->
    <footer class="footer">
        <!-- Working Projects --> 
        <nav class="footer__nav current_projects">
            <h1 class="footer__header">Current Projects</h1>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__links" href="https://master.d2r7j2jmmophwn.amplifyapp.com/" target="_blank" rel="noopener noreferrer">Portfolio 2.0</a>
                </li>
                <li class="footer__item">
                    <a class="footer__links" href="https://brianhyun.github.io/frontend-mentor-rock-paper-scissors-challenge/" target="_blank" rel="noopener noreferrer">Rock, Paper, Scissors Game</a>
                </li>
                <li class="footer__item">
                    <a class="footer__links" href="https://awesome-feynman-08d2af.netlify.app/" target="_blank" rel="noopener noreferrer">Blog 2.0</a>
                </li>
            </ul>
        </nav>

        <!-- Nav One -->
        <nav class="footer__nav">
            <h1 class="footer__header">Quick Links</h1>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__links" href="https://github.com/brianhyun" target="_blank" rel="noopener noreferrer">GitHub</a>
                </li>
                <li class="footer__item">
                    <a class="footer__links" href="/docs/Resume.pdf" target="_blank" rel="noopener noreferrer">Resume</a>
                </li>
            </ul>
        </nav>

        <!-- Nav Two -->
        <nav class="footer__nav">
            <h1 class="footer__header">Quick Connect</h1>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__links" href="mailto:hyunbrian97@gmail.com">hyunbrian97@gmail.com</a>
                </li>
            </ul>
        </nav>
    </footer>

    <!-- Scripts -->
    <script src="/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>