<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        <%= pageTitle %>
    </title>
    <meta name="description" content="Brian Hyun | Frontend Web Developer, Portfolio" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="Brian Hyun | Frontend Web Developer, Portfolio" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.brianhyun.com" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/main.css" />

    <meta name="theme-color" content="#fafafa" />
</head>

<body>
    <!-- To-Top Button -->
    <div class="to-top-btn">
        <a href="#header"><img src="./img/arrow.svg" alt="back to top button"></a>
    </div>

    <!-- Main Header -->
    <header id="header" class="main-header">
        <!-- Logotype -->
        <a class="main-header__logotype" href="/">Brian Hyun</a>
        <!-- Nav -->
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="<%= path === '/about' ? 'main-header__link--active' : 'main-header__link' %>" href="/about">About</a></li>
                <li class="main-header__item"><a class="<%= path === '/contact' ? 'main-header__link--active' : 'main-header__link' %>" href="/contact">Contact</a></li>
            </ul>
        </nav>
        <!-- Burger Menu -->
        <div class="main-header__burger">
            <div class="main-header__line"></div>
            <div class="main-header__line"></div>
        </div>
    </header>