<%- include('partials/header') %>
<!-- About Content -->
<main class="about">
    <div class="about__grid-item">
        <!-- Header -->
        <h1 class="about__header">Q&A</h1>

        <!-- Block 1 -->
        <div class="about__block">
            <h1 class="about__question">
                If there's only one thing you can let me know, what would it be?
            </h1>
            <div class="about__answer">
                <p class="about__paragraph">
                    I taught myself web development for the purposes of
                    squashing my fear of failure.
                </p>
                <p class="about__paragraph">
                    "You'll never write a program free of bugs. If you do, be
                    immediately suspicious."
                </p>
                <p class="about__paragraph">
                    For a person that liked getting things right the first time,
                    encountering bugs was a nightmare. "Am I incompetent? Why
                    don't I understand this problem? Why couldn't I get it right
                    the first time?"
                </p>
                <p class="about__paragraph">
                    Programming has taught me to be patient with myself. To
                    level my expectations and take things a step at a time. And,
                    because so, programming has become my saving grace. It
                    continues to humble me and, day after day, teaches me that
                    perfection is the platonic ideal not worth the trouble of
                    chasing if it prevents progress and sucks enjoyment.
                    Longevity and sustainability is key.
                </p>
                <p class="about__paragraph">
                    In essence: "Don't let perfection be the enemy of
                    <em>good</em>."
                </p>
                <p class="about__paragraph">
                    It has taught me to be comfortable with failure and that red
                    in the console is not the end of the world and not a sign of
                    incompetence. People make mistakes. Learn to learn from them
                    and improve. Don't let a computer's programmed error
                    <strike>message</strike> messages be a value judgment on
                    your intelligence and worth.
                </p>
                <p class="about__paragraph">
                    It has taught me how I think and how I go about solving
                    problems. How do I react when a bug arises? Am I quick to
                    Google and use the first solution that works or do I take
                    the time to understand the problem, identify knowledge gaps,
                    and find the best solution? I would preach the latter as the
                    only acceptable approach, but what I've come to realize is
                    that chasing the first solution is necessary at times to
                    prove that there <em>is</em> a solution to your problem and
                    get the ball rolling. This perspective comes from the
                    context of a past-me who sat on a problem for several days
                    for the sake of arriving at <em>the</em> perfect solution.
                    At a certain point, you have to have faith in your due
                    diligence and start getting things done.
                </p>
                <p class="about__paragraph">
                    There's a lot more that programming has taught me, but, for
                    the sake of brevity, I'll cut it here.
                </p>
            </div>
        </div>

        <!-- Block 3 -->
        <div class="about__block">
            <h1 class="about__question">Why web development?</h1>
            <div class="about__answer">
                <p class="about__paragraph">
                    Because there’s nothing like writing code and seeing the
                    results in the blink of an eye. Plus, web development is the
                    greatest teacher. It presents a clear, achievable goal.
                    Provides instant feedback. And, allows an infinite number of
                    tries. Though error messages can be vague and indecipherable
                    at times, the opportunities for success are limited only by
                    one's determination.
                </p>
            </div>
        </div>

        <!-- Block 5 -->
        <div class="about__block">
            <h1 class="about__question">Goals as a programmer?</h1>
            <div class="about__answer">
                <p class="about__paragraph">
                    (1) To build things people need and to build it well.
                </p>
                <p class="about__paragraph">
                    (2) Be a !bad programmer by learning to write elegant code.
                </p>
                <p class="about__paragraph">
                    (3) And, someday in the future, be in a position where I can
                    teach others how to program.
                </p>
            </div>
        </div>

        <!-- Block 4 -->
        <div class="about__block">
            <h1 class="about__question">Any hobbies?</h1>
            <div class="about__answer">
                <p class="about__paragraph">
                    I enjoy taking photos and playing guitar. Occasionally, I
                    like to write.
                </p>
            </div>
        </div>

        <!-- Block 4 -->
        <div class="about__block">
            <h1 class="about__question">Role Models?</h1>
            <div class="about__answer">
                <p class="about__paragraph">
                    Jacob Collier. Alex Honnold. My mother.
                </p>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer') %>
