<%- include('partials/header') %>

    <!-- About Content -->
    <main class="about">
        <div class="about__grid-item">
            <!-- Header -->
            <h1 class="about__header">Q&A</h1>
            <!-- Block 1 -->
            <div class="about__block">
                <h1 class="about__question">You lack experience. <br> Why should I hire you?</h1>
                <div class="about__answer">
                    <p class="about__paragraph">I assume you’ve taken a look at my projects. But, I guess you need a bit more convincing.</p>
                    <p class="about__paragraph">Hmm...I thought about it, and I’m not sure how to convince you. If my projects don’t convince you of my capabilities, then I don’t know what will. Everything else would be rhetoric, no?</p>
                </div>
            </div>
            <!-- Block 2 -->
            <div class="about__block">
                <h1 class="about__question">Who are you really?</h1>
                <div class="about__answer">
                    <p class="about__paragraph">I’m someone trying to find life’s meaning through programming. It has a lot to teach in terms of failure-tolerance, something I’ve always struggled with. However, my pain-tolerance makes me a bit insane in the head, so I’ve never really
                        known when to give up.</p>
                </div>
            </div>
            <!-- Block 3 -->
            <div class="about__block">
                <h1 class="about__question">Why web development? <br> And, why front-end specifically?</h1>
                <div class="about__answer">
                    <p class="about__paragraph">Web development is immediately gratifying. There’s nothing like writing code and seeing the results of your creation in an ‘alt-tab, cmd+r.’</p>
                    <p class="about__paragraph">Front-end is where visual design meets programming and, since I like both, that’s where I want to be. But, I’m not deaf to Backend since that’s my current end goal: becoming a Full Stack Developer. But, I’m in no particular rush and
                        taking it one step at a time seems wise.</p>
                </div>
            </div>
            <!-- Block 4 -->
            <div class="about__block">
                <h1 class="about__question">Any hobbies?</h1>
                <div class="about__answer">
                    <p class="about__paragraph">Outside of programming, I like bouldering and taking photos.</p>
                </div>
            </div>
            <!-- Block 5 -->
            <div class="about__block">
                <h1 class="about__question">Life motivation?</h1>
                <div class="about__answer">
                    <p class="about__paragraph">Becoming someone I can be proud of.</p>
                    <p class="about__paragraph">Doing something for this world. </p>
                </div>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>