<%- include('partials/header') %>
<!-- Projects Content -->
<main class="projects">
    <a
        class="projects__link"
        href="https://sorting-visualizer-web-app.herokuapp.com/"
        target="_blank"
        ><img
            class="projects__image"
            src="/img/sorting-icon.svg"
            alt="sorting algorithm project thumbnail"
    /></a>
    <a
        class="projects__link"
        href="https://spotify-dashboard-web-app.herokuapp.com/"
        target="_blank"
        ><img
            class="projects__image"
            src="/img/spotify-icon.svg"
            alt="spotify project thumbnail"
    /></a>
    <a
        class="projects__link"
        href="https://rest-countries-web-app.herokuapp.com/"
        target="_blank"
        ><img
            class="projects__image"
            src="/img/countries-icon.svg"
            alt="rest countries api project thumbnail"
    /></a>
    <a
        class="projects__link"
        href="https://url-shortener-web-app.herokuapp.com/"
        target="_blank"
        ><img
            class="projects__image"
            src="/img/url-icon.svg"
            alt="url shortener project thumbnail"
    /></a>
</main>
<%- include('partials/footer') %>
