<%- include('partials/header') %>
<main class="projects">
    <a
        class="projects__link"
        href="https://web-forum-web-app.herokuapp.com/"
        target="_blank"
        rel="noopener noreferrer"
    >
        <div class="projects__container">
            <img
                class="projects__image"
                src="/img/forum-icon.svg"
                alt="web forum icon project thumbnail"
            />
        </div>
        <div class="projects__description">
            <div>
                <h4>Web Forum</h4>
                <p>
                    Reddit + Discord: Create forums where you can share posts
                    with friends.
                </p>
            </div>

            <p>React, Redux, Node.js, Express.js, MongoDB</p>
        </div>
    </a>
    <a
        class="projects__link"
        href="https://spotify-dashboard-web-app.herokuapp.com/"
        target="_blank"
        rel="noopener noreferrer"
    >
        <div class="projects__container">
            <img
                class="projects__image"
                src="/img/spotify-icon.svg"
                alt="spotify project thumbnail"
            />
        </div>
        <div class="projects__description">
            <div>
                <h4>Spotify Dash</h4>
                <p>
                    A personalized Spotify dashboard with your top tracks,
                    artists, and more.
                </p>
            </div>

            <p>Node.js, Express.js, Chart.js, EJS, Spotify API</p>
        </div>
    </a>
    <a
        class="projects__link"
        href="https://sorting-visualizer-web-app.herokuapp.com/"
        target="_blank"
        rel="noopener noreferrer"
    >
        <div class="projects__container">
            <img
                class="projects__image"
                src="/img/sorting-icon.svg"
                alt="sorting algorithm project thumbnail"
            />
        </div>
        <div class="projects__description">
            <div>
                <h4>Sort.viz</h4>
                <p>Visualize popular sorting algorithms.</p>
            </div>

            <p>Node.js, Express.js, HTML, CSS, JS</p>
        </div>
    </a>
    <a
        class="projects__link"
        href="https://rest-countries-web-app.herokuapp.com/"
        target="_blank"
        rel="noopener noreferrer"
    >
        <div class="projects__container">
            <img
                class="projects__image"
                src="/img/countries-icon.svg"
                alt="rest countries api project thumbnail"
            />
        </div>
        <div class="projects__description">
            <div>
                <h4>REST Countries</h4>
                <p>
                    Discover interesting information about different countries
                    around the world.
                </p>
            </div>

            <p>Node.js, Express.js, EJS, REST Countries API</p>
        </div>
    </a>
    <a
        class="projects__link"
        href="https://teriyaki-house-menu.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"
    >
        <div class="projects__container">
            <img
                class="projects__image"
                src="/img/teriyaki-house-icon.svg"
                alt="teriyaki house website thumbnail"
            />
        </div>
        <div class="projects__description">
            <div>
                <h4>Teriyaki House</h4>
                <p>
                    A mock website for a small teriyaki shop in San Dimas, CA.
                </p>
            </div>

            <p>Gatsby, Contentful, Bootstrap, Leaflet</p>
        </div>
    </a>
</main>
<%- include('partials/footer') %>
