<%- include('partials/header') %>

    <!-- Projects Content -->
    <main class="projects">
        <a class="projects__link" href="#"><img class="projects__image" src="" alt="" /></a>
        <a class="projects__link" href="#"><img class="projects__image" src="" alt="" /></a>
        <a class="projects__link" href="#"><img class="projects__image" src="" alt="" /></a>
        <a class="projects__link" href="#"><img class="projects__image" src="" alt="" /></a>
    </main>

    <%- include('partials/footer') %>