<%- include('partials/header') %>
<main class="projects">
    <a
        class="projects__link"
        href="https://web-forum-web-app.herokuapp.com/"
        target="_blank"
        rel="noopener noreferrer"
        ><img
            class="projects__image"
            src="/img/forum-icon.svg"
            alt="web forum icon project thumbnail"
    /></a>
    <a
        class="projects__link"
        href="https://spotify-dashboard-web-app.herokuapp.com/"
        target="_blank"
        rel="noopener noreferrer"
        ><img
            class="projects__image"
            src="/img/spotify-icon.svg"
            alt="spotify project thumbnail"
    /></a>
    <a
        class="projects__link"
        href="https://sorting-visualizer-web-app.herokuapp.com/"
        target="_blank"
        rel="noopener noreferrer"
        ><img
            class="projects__image"
            src="/img/sorting-icon.svg"
            alt="sorting algorithm project thumbnail"
    /></a>
    <a
        class="projects__link"
        href="https://rest-countries-web-app.herokuapp.com/"
        target="_blank"
        rel="noopener noreferrer"
        ><img
            class="projects__image"
            src="/img/countries-icon.svg"
            alt="rest countries api project thumbnail"
    /></a>
</main>
<%- include('partials/footer') %>
