<%- include('partials/header') %>
<main class="projects">
    <a
        class="projects__link"
        href="https://web-forum-web-app.herokuapp.com/"
        target="_blank"
        rel="noopener noreferrer"
    >
        <div class="projects__container">
            <img
                class="projects__image"
                src="/img/forum-icon.svg"
                alt="web forum icon project thumbnail"
            />
        </div>
        <div class="projects__description">
            <h3>Web Forum</h3>
            <p>React, Redux, Node.js, Express.js, MongoDB</p>
        </div>
    </a>
    <a
        class="projects__link"
        href="https://spotify-dashboard-web-app.herokuapp.com/"
        target="_blank"
        rel="noopener noreferrer"
    >
        <div class="projects__container">
            <img
                class="projects__image"
                src="/img/spotify-icon.svg"
                alt="spotify project thumbnail"
            />
        </div>
        <div class="projects__description">
            <h3>Spotify Dash</h3>
            <p>Node.js, Express.js, Chart.js, EJS, Spotify API</p>
        </div>
    </a>
    <a
        class="projects__link"
        href="https://sorting-visualizer-web-app.herokuapp.com/"
        target="_blank"
        rel="noopener noreferrer"
    >
        <div class="projects__container">
            <img
                class="projects__image"
                src="/img/sorting-icon.svg"
                alt="sorting algorithm project thumbnail"
            />
        </div>
        <div class="projects__description">
            <h3>Sort.viz</h3>
            <p>Node.js, Express.js, HTML, CSS, JS</p>
        </div>
    </a>
    <a
        class="projects__link"
        href="https://rest-countries-web-app.herokuapp.com/"
        target="_blank"
        rel="noopener noreferrer"
    >
        <div class="projects__container">
            <img
                class="projects__image"
                src="/img/countries-icon.svg"
                alt="rest countries api project thumbnail"
            />
        </div>
        <div class="projects__description">
            <h3>REST Countries</h3>
            <p>Node.js, Express.js, EJS, REST Countries API</p>
        </div>
    </a>
    <a
        class="projects__link"
        href="https://teriyaki-house-menu.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"
    >
        <div class="projects__container">
            <img
                class="projects__image"
                src="/img/teriyaki-house-icon.svg"
                alt="teriyaki house website thumbnail"
            />
        </div>
        <div class="projects__description">
            <h3>Teriyaki House</h3>
            <p>Gatsby, Contentful, Bootstrap, Leaflet</p>
        </div>
    </a>
</main>
<%- include('partials/footer') %>
