<%- include('partials/header') %>
    <main class="success">
        <h1 class="success__header">Again, thanks for reaching out! I'll get back to you ASAP!</h1>
    </main>
<%- include('partials/footer') %>